<div class="container-p">
  <div class="box">
    <fieldset>
      <legend>Seleccione</legend>
      <div class="seccion">
        <input
          id="A"
          type="checkbox"
          [(ngModel)]="opciones[0]"
          value="A"
        >
        <label for="A">Opcion A</label>
      </div>
      <div class="seccion">
        <input
          id="B"
          type="checkbox"
          [(ngModel)]="opciones[1]"
        >
        <label for="B">Opcion B</label>
      </div>
      <div class="seccion">
        <input
          id="C"
          type="checkbox"
          [(ngModel)]="opciones[2]"
        >
        <label for="C">Opcion C</label>
      </div>
      <div class="seccion">
        <input
          id="D"
          type="checkbox"
          [(ngModel)]="opciones[3]"
        >
        <label for="D">Opcion D</label>
      </div>
      <div class="seccion">
        <input
          id="E" 
          type="checkbox"
          [(ngModel)]="opciones[4]"
        >
        <label for="E">Opcion E</label>
      </div>
    </fieldset>
  </div>
  <div class="button">
    <button (click)="comprobar()">Seleccionar</button>
    <small *ngIf="comprobado">{{mensaje}}</small>
    <h3 *ngIf="!comprobado">{{selec}}</h3>
  </div>

</div>
